
{{!-- <div class="col-lg-3 my-2"> --}}
    <div class="card">
    <div class="card-title">
        <div class="styled-button">
                <DeleteBtn
                @dog={{@dog}}
                />
            </div>
            <h1>{{@name}}</h1>
    </div>
    <div class="card-description">
        <div class="styled-button">
            <LinkTo @route="edit"  @model={{@id}}>
                <button class="edit"><i class="fa-solid fa-pen-to-square"></i></button>
            </LinkTo>
        </div>
        <p>Owner: {{@owner}}</p>
        <p>Size: {{@size}}</p>
        <p>Breed: {{@breed}}</p>
        <div>Fun facts:</div>
        <p>{{@description}}</p>
    
    </div>
    <div class="card-footer">
        <LinkTo @route="dog" @model={{@id}}>
            <button>View Profile</button>
        </LinkTo>
    </div>
    
    
    </div>
{{!-- </div> --}}