{{page-title "Dog"}}
<MainContainer>
    <Row>
    <div class="col-lg-3"></div>
     <div class="col-lg-6">
        <DogCard
        @dog={{this.model}}
        @id={{this.model.id}}
        @name={{this.model.name}}
        @owner={{this.model.owner}}
        @breed={{this.model.breed}}
        @size={{this.model.size}}
        @description={{this.model.description}}
        />
    </div>
     <div class="col-lg-3"></div>
    </Row>
</MainContainer>
{{outlet}}

