{{page-title "Dogs"}}

<h2>List of Dogs</h2>
<ul>
  {{#each @model as |dogs|}}
    <li>
        <div>
            {{dogs.name}}
            {{dogs.owner}}
            {{dogs.size}}
            {{dogs.description}}
        </div>
    </li>
  {{/each}}
</ul>

{{outlet}}