<MainContainer>
    {{!-- <SearchBar @dog={{this.model}}/> --}}
    <Row> 
    {{#each this.model as |dog| }}
    <div class="col-lg-3 my-2">
        <DogCard
        @dog={{dog}}
        @id={{dog.id}}
        @name={{dog.name}}
        @owner={{dog.owner}}
        @breed={{dog.breed}}
        @size={{dog.size}}
        @description={{dog.description}}
        />
    </div>
    {{/each}}
    <AddDog/>
    </Row>
</MainContainer>

{{outlet}}